/* Path: src/styles/About.module.cs
 * Project: Plateful Search
 * Developers: Temima Lewin, Miriam Iny, and Hailey Lazar
 * Purpose: about page css
 */

.container {
  max-width: 700px;
  margin: 2rem auto;
  padding: 1rem 2rem;
  background-color: #fafafa;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  margin-bottom: 1rem;
  color: #0077cc;
}

p {
  line-height: 1.6;
  margin-bottom: 1rem;
  color: #333;
}