/* Path: src/styles/MealDetails.module.cs
 * Project: Plateful Search
 * Developers: Temima Lewin, Miriam Iny, and Hailey Lazar
 * Purpose: meal details component css
 */
 
 /* Video Tutorial */
.videoIframe {
  position: relative;
  top: 0;
  left: 0;
  width: 50%;
  height: 50%;
  border: none;
}
