/* Path: src/styles/MealDetails.module.css
 * Project: Plateful Search
 * Developers: Temima Lewin, Miriam Iny, and Hailey Lazar
 * Purpose: meal details component css
 */

.container {
  max-width: 900px;
  margin: 3rem auto;
  padding: 1rem 2rem;
  background-color: #fff;
  border-radius: 16px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  color: #86295b;
  font-family: 'Coolvetica', Verdana, Geneva, Tahoma, sans-serif;
}

.title {
  font-family: 'Adelia', cursive;
  font-size: 2.8rem;
  text-align: center;
  margin-bottom: 1rem;
}

.image {
  width: 100%;
  max-width: 500px;
  height: auto;
  display: block;
  margin: 0 auto 1.5rem auto;
  border-radius: 14px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.info {
  display: flex;
  flex-direction: column;
  font-size: 1.1rem;
  margin-bottom: 2rem;
}

.info p {
  margin: 0;
  padding: 0;
}

.section {
  margin-bottom: 2rem;
}

.ingredientsList {
  list-style-type: circle;
  font-size: 1.1rem;
  max-width: 400px;
  margin: 0 0 0 5rem;
  padding-left: 1.5rem;
  text-align: left;
}

.instructions {
  white-space: pre-line; /* To preserve line breaks */
  font-size: 1.1rem;
  line-height: 1.5;
  max-width: 700px;
  margin: 0 auto;
}

/* Video Tutorial */
.videoIframe {
  width: 100%;
  max-width: 560px;
  height: 315px;
  border: none;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  margin: 1rem auto 0 auto;
  display: block;
}
