/* Path: src/styles/SearchBar.module.css
 * Project: Plateful Search
 * Developers: Temima Lewin, Miriam Iny, and Hailey Lazar
 * Purpose: meal list css
 */

.searchForm {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}

.input {
  padding: 0.5rem;
  font-size: 1rem;
  width: 250px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: var(--basic-font-family);
}

.button {
  padding: 0.5rem 1rem;
  margin-left: 0.5rem;
  font-size: 1rem;
  background-color: var(--button-bg-color);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: 'Cream';

}

.button:hover {
  background-color: var(--button-hover-color);
}

.searchIcon {
  width: 2.2em;
  height: 2.2em;
  vertical-align: middle;
  margin: 0;
}
