/* src/pages/Home.module.css */
.container {
  padding: 1rem;
  max-width: 960px;
  margin: auto;
}

.mealGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.error {
  color: red;
  text-align: center;
}

